wheel
packaging
ninja
transformers
numpy
datasets
scikit-learn
torch
torchvision
torchaudio
sentencepiece
accelerate
elasticsearch
bitsandbytes
librosa
soundfile
uvicorn[standard]
fastapi[standard]
#flash-attn
